/* FOOTER */
*{
    margin: 0;
    box-sizing: border-box;
}

.footer-0{
    font-family: 'Roboto', sans-serif;
    background-color: #d6d6d7;
    color: #575757;
    padding: 1.25rem;
    text-align: center;
    line-height: 1.5;
    font-size: 0.875rem;
    margin-bottom: 45px;
}

.footer-img{
    display: none;
}