@media screen and (min-width:768px){
    .page-container{
        padding: 8px;
        display: grid;
        grid-template-columns: 640px calc(100%-640px);
        grid-template-rows: auto;
        grid-template-areas: 
        "notificaciones main"
        "notificaciones main-2";
        background-color: #efefef;
    }
    
    .position-sticky{
        grid-area: "notificaciones";
        position: relative;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        background-color: #efefef;
        border:none;
        box-shadow: none;
        
    }
    .page-1-button-1{
        flex-direction: column;
        margin-bottom: 10px;  
    }
    
    .text-1-svg{
    
    margin-top: 0;
    margin-left: 15px;
    }


    .page-container-2{
        grid-area: "main";
        background-color: #efefef;
        
        border-radius: 5px;
        
    }
    .portada{
        border-radius: 5px 5px 0 0;
    }
    .main-text{
        padding: 32px 48px 0;
        background-color: #fff;
    }
    .layout768{
        padding: 0px 48px 0;
        background-color: #fff;
        margin-top: 0px;
    }
    /* DISCUSSION */
    .discussion{
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0px;
        border-top-width:0px ;
        border-style: none;
        border-color: #efefef;
        line-height: 1.5;
        border-top: 1px solid rgba(9,9,9,0.1);
        border-bottom:1px solid rgba(9,9,9,0.1);
        background-color: #fff;   
        padding: 32px 48px;     
    }
    /* READ-NEXT */
    .page-container-4{
        background-color: #F9F9F9;
        padding: 32px 48px;
        margin-top: 15px;
        border-radius: 5px;
    }
    .red-img{
        width: 64px;
        height: 64px;

    }
    .red-text{
        font-size: 20px;

    }
    .red-text-1{
        font-size: 16px;
        padding-top: 4px;
        opacity: 0.75;
        color: #242424;
    }

    /* PRIMER PERFIL */
    .one-perfil{
        margin-top: 20px;
        background-color: #F9F9F9;
        border-radius: 5px;
    }
    .rectangulo-1-2{
        border-radius: 5px;

    }
    /* SEGUNDO PERFIL */
    .rectangulo-2{
        margin-top: 20px;
        border-radius: 5px;

    }
    .perfil-1-1{
        
        font-size: 20px;

    }

    /* FOOTER */
    .footer-0{
        margin-bottom: 0px;
        padding: 48px;
    }
    .footer-img{
        margin-top: 10px;
        display: block;
    }
    
}

/* PARA 1024PX EN ADELANTE */

@media screen and (min-width:1024px){

.page-container{
    display: grid;
    grid-template-columns: 12% 60% 28%;
    grid-template-areas: "noti main perfiles";
    margin-right: auto;
    margin-left: auto;
}
.position-sticky{
    grid-area: noti;

}

.page-container-2{
    grid-area: main;
    
    margin-right: 20px;
    
}
.layout1024{
    max-width: 806px;
    /* margin-left: 400px; */
}



/* Todos los perfiles  */
.one-perfil{
    max-width: 345px;
}
.rectangulo-2{
    max-width: 345px;
}
 /* DESACTIVO  */
.page-container-3{
    display: none;
}
/* ACTIVO */
.active1024px{
    grid-area: perfiles;
    display: block;
    margin-top: -20px;
}
}


/* PARA 1390PX */
@media screen and (min-width:1450px){
    .page-container{
        display: grid;
        grid-template-columns: repeat(1,1fr) 152px 806px 345px repeat(1,1fr);
        grid-template-areas: ". noti main perfiles .";
        margin-right: auto;
        margin-left: auto;
    }
    .page-container-2{
        grid-area: main;
          
        margin-right: 20px;
    }
    .active1024px{
            grid-area: perfiles;
            display: block;
            margin-top: -20px;
    }
    .page-container-1{
        grid-area: noti;
        
    }

}
