/* MAIN */
*{
    margin: 0;
    box-sizing: border-box;
}

.page-container{
    margin-top: 56px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.portada{
    width: 100%;
    max-height: 322px;
}


.main-text{
    padding: 12px;
    padding: 12px 12px 0;
    display: flex;
    flex: 1 1 0%;
    align-items: flex-start;
    margin-bottom: 1.25rem;
}
.josh{
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    margin-right: 10px;

}
.name{
    color: #333;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;

}
.Poster-1{
    font-size: 12px;
    color: #717171;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

}
.how-do{
    font-family: 'Roboto', sans-serif;
    padding: 0 12px;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 700;
}
.how-do-container{
    padding: 12px;
}
.how-do-span{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #717171;
    font-size: 14px;
    padding: 4px;
}
.How-does-the-Internet{
    font-family: 'Roboto', sans-serif;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    padding: 0.75rem 1rem;
    border: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background-color:#f9f9f9;
    color: #3b49df;
    border-radius: 5px 5px 0 0;
}
.one-rect-1{
    display: flex;
    flex-direction: column;
}
.one-rect{
    font-family: 'Roboto', sans-serif;
    margin-left: 12px;
    margin-right: 12px;
    border: 1px solid #efefef;
    padding: 12px 16px;
    text-decoration: none;
    background-color:#f9f9f9;
    border-radius: 0 0 5px 5px;
}
.one-rect-numbers{
    display: inline-flex;
    background-color: #efefef;
    color: #575757;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 0.75rem;
    font-size: 16px;
}
.one-rect-text{
    display: inline-flex;
   font-size: 16px;
   color: #242424;
}
.blue{
    background-color: #3B49DF;
    color: #fff;

}
.black{
    color: #090909;
    font-weight: 700;
}




/* CONTENEDOR DEL PARRAFO DE LA LETRA */

.container-text{
    
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    font-size: 1.125rem;
    line-height: 1.5;
    margin-top: 18px ;
    
}
.container-img{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
}
.ul-1{
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;

    padding-left: 20px;
    
}


/* CONTENEDOR RESOURCES */
.resources{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-top: 15px;
    
}
.article{
    margin-top: 18px;
}
.resources-list{
    font-size: 17px;
    margin-left: 12px;
    padding: 12px;
    margin-top: 8px;
}
.resources-list-1{
    color: #3b49df;

    font-size: 17px;
}



/* CONTENEDOR DE DISCUSSION */
.discussion{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
    border-top-width:1px ;
    border-style: solid;
    border-color: #efefef;
    line-height: 1.5;
    padding: 0.75rem;
    
}
.discussiontitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.discussiontitle-1{
    font-size: 1.25rem;
    font-weight: 700;
    color: #242424;
    line-height: 1.25;
}

.discussionbutton-1{
   display: block;
    border-radius: 0.375rem;
    font-size: 16px;
    color: #090909;
    padding: 10px 16px;
    background-color:#fff;
    border: 3px solid #efefef;
    box-shadow: rgba(0,0,0,0.05);
}
.dev{
    font-size: 16px;
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}
.img-dev{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
}
.input-rec{
    display: flex;
    flex: 1 auto;
    margin-left: 10px;
    font-size: 16px;
    height:60px;
    width:302px;
    padding:0.5rem;
    border: 1px solid #d6d6d7;
    border-radius: 0.375rem;
}
.bhav{
    display: flex;
    padding-top: 30px;
}
.rec{
    margin-left: 10px;
    border: 1px solid #d6d6d7;
    border-radius: 0.375rem;
    width:302px;
    height: 100px;
    padding:0.5rem;
}
.bhav-text{
    font-weight: 500;
    font-size: 0.875rem;
    color: #717171;

}
.put{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #717171;
    font-size: 0.875rem;
}
.bhav-result{
    font-size: 16px;
}
.discussion-button{
    margin-left: 35px;
    margin-top: 7px;
    display: flex;
}
.head-2{
    margin-right: 0.25rem;
    border-width: 0px;
    background-color: transparent;
    color: #3d3d3d;
    font-size: 0.875rem;
    display: flex;
}
.head-2-numbers{
    margin-top: 5px;
    margin-left: 3px;
}
.mens-2{
    margin-right: 0.25rem;
    border-width: 0px;
    background-color: transparent;
    color: #3d3d3d;
    font-size: 0.875rem;
}
.textdiscussion-1{
    text-align: center;
    font-size: 0.875rem;
    margin-bottom: 16px;
    color: #717171;
    margin-top: 20px;
}
.textdiscussion-1-2{
    color: #3b49df;
}
.textdiscussion-2{
    text-align: center;
    font-size: 0.875rem;
    color: #717171;
}


/* READ NEXT */
.page-container-4{
    font-family: 'Roboto', sans-serif;
    padding: 12px;

}
.red{
    font-size: 1.25rem;
    font-weight: 700;
    color: #242424;
    line-height: 1.25;
}
.red-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}
.red-img{
    border-radius: 100%;
    width: 48px;
    height: 48px;
}
.red-text{
    padding-top: 0.25rem;
    margin-left: 16px;
}
.red-title{
    line-height: 1.25;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 700;
    color: #242424;
}



/* PRIMER PERFIL  */

.rectangulo-1-2{
    font-family: 'Roboto', sans-serif;
    border-top-color: #010b1b;
    color: #242424;
    border-top: 2rem solid #010b1b;
    padding: 16px;
    
}
.rectangulo1-2-title{
    margin-top: -28px;
    display: flex;
}
.josh-1{
    border-radius: 50%;

}
.text-perfil{
    margin-top: 24px;
    margin-left: 10px;
}
.follow{
    width: 100%;
    padding: 8px 16px;
    color: #f9f9f9;
    background-color: #3B49DF;
    border-radius: 0.375rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
}
.text-Hello{
    font-family: 'Roboto', sans-serif;
    color: #575757;
    font-size: 16px;

}
.text-location{
    font-family: 'Roboto', sans-serif;
    color: #717171;
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 15px;


}
.text-direction{
    font-family: 'Roboto', sans-serif;
    color: #242424;
    font-size: 1rem;
    margin-top: 5px;
}

/* SEGUNDO PERFIL */
.rectangulo-2{
    background-color: #f9f9f9;
    color: #242424;
    box-shadow: 0 0 0 1px rgba(9,9,9,0.05);
    border-radius: 5px;
    font-size: 16px;
    
}
.perfil-1-1{
    font-size: 1.125rem;
    font-weight: 700;
    color: #242424;
    line-height: 1.25;
    padding: 16px;

}
.perfil-1-2{
    padding: 16px 0;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    padding: 16px;
    
}

.perfil-1-2-text{
    color: #575757;
    padding-top: 4px;
    word-spacing: 3px;
    
   
}
