*{
    margin: 0;
    box-sizing: border-box;
}
/* NOTIFICACIONES */
.position-sticky{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0 -1px 5px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    height: 56px;    
}
.page-1-button-1{
    border:none;
    background-color: transparent;
    padding: 0;
    font-size: 100%;
    display: flex;
}
.button-1-svg{
    padding: 0.5rem;
    background-color: transparent;
    color: #3d3d3d;
    border-radius: 50%;  
}
.text-1-svg{
    display: block;
    color: #575757;
    font-size: 0.875rem;
    margin-top: 15px;
}



/* SEGUNDO PERFIL */
.rectangulo-2{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #242424;
    box-shadow: 0 0 0 1px rgba(9,9,9,0.05);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    border: 1px solid #f9f9f9;
}
.perfil-1-1{
    font-size: 1.125rem;
    font-weight: 700;
    color: #242424;
    line-height: 1.25;
    padding: 16px;

}
.perfil-1-2{
    padding: 16px 0;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    padding: 16px;
}
.perfil-1-2-text{
    color: #575757;
    padding-top: 4px;
    word-spacing: 3px;
}




/* PRIMER PERFIL  */
.rectangulo-1-2{
    font-family: 'Roboto', sans-serif;
    border-top-color: #010b1b;
    color: #242424;
    border-top: 2rem solid #010b1b;
    padding: 16px;
    margin-top: 15px;
    border-bottom: 1px solid #f9f9f9;
    background-color: #f9f9f9;
}
.rectangulo1-2-title{
    margin-top: -28px;
    display: flex;
}
.josh-1{
    border-radius: 50%;

}
.text-perfil{
    margin-top: 24px;
    margin-left: 10px;
}
.follow{
    width: 100%;
    padding: 8px 16px;
    color: #f9f9f9;
    background-color: #3B49DF;
    border-radius: 0.375rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
}
.text-Hello{
    font-family: 'Roboto', sans-serif;
    color: #575757;
    font-size: 16px;
}
.text-location{
    font-family: 'Roboto', sans-serif;
    color: #717171;
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 15px;
}

.text-direction{
    font-family: 'Roboto', sans-serif;
    color: #242424;
    font-size: 1rem;
    margin-top: 5px;
}




/* READ NEXT */
.page-container-4{
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    margin-top: 20px;
    background-color: #f9f9f9;
}
.red{
    font-size: 1.25rem;
    font-weight: 700;
    color: #242424;
    line-height: 1.25;
}
.red-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.red-img{
    border-radius: 100%;
    width: 48px;
    height: 48px;
}
.red-text{
    padding-top: 0.25rem;
    margin-left: 16px;
}
.red-title{
    line-height: 1.25;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 700;
    color: #242424;
}
/* MEDIA QUERIES */
@media screen and (min-width:768px){
    .page-container{
    padding: 8px;
    display: grid;
    grid-template-columns: 64px repeat(1,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "notificaciones main"
    "notificaciones main-2";
    background-color: #efefef;
    }
    
    .position-sticky{
    grid-area: notificaciones;
    position: relative;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    background-color: #efefef;
    border:none;
    box-shadow: none;    
    }
    .page-1-button-1{
    flex-direction: column;
    margin-bottom: 10px;  
    }
    .text-1-svg{
    margin-top: 0;
    margin-left: 15px;
    }
    .page-container-2{
    grid-area: main;
    background-color: #efefef;
    border-radius: 5px;  
    }
    .portada{
    border-radius: 5px 5px 0 0;
    }
    .main-text{
    padding: 32px 48px 0;
    background-color: #fff;
    }
    .how-do{
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 2.25rem;
    font-weight: 800;
    }
    .layout768{
    padding: 0px 48px 0;
    background-color: #fff;
    margin-top: 0px;
    }
    /* DISCUSSION */
    .discussion{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    border-top-width:0px ;
    border-style: none;
    border-color: #efefef;
    line-height: 1.5;
    border-top: 1px solid rgba(9,9,9,0.1);
    border-bottom:1px solid rgba(9,9,9,0.1);
    background-color: #fff;   
    padding: 32px 48px;     
    }
    /* READ-NEXT */
    .page-container-4{
    background-color: #F9F9F9;
    padding: 32px 48px;
    margin-top: 15px;
    border-radius: 5px;
    }
    .red{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    }
    .red-img{
    width: 64px;
    height: 64px;
    }
    .red-text{
    font-size: 20px;
    }
    .red-text-1{
    font-size: 16px;
    padding-top: 4px;
    opacity: 0.75;
    color: #242424;
    }
    /* PRIMER PERFIL */
    .one-perfil{
    margin-top: 20px;
    background-color: #F9F9F9;
    border-radius: 5px;
    }
    .rectangulo-1-2{
    border-radius: 5px;
    }
    /* SEGUNDO PERFIL */
    .rectangulo-2{
    margin-top: 20px;
    border-radius: 5px;
    }
    .perfil-1-1{
    font-size: 20px;
    }
    /* FOOTER */
    .footer-0{
    margin-bottom: 0px;
    padding: 48px;
    }
    .footer-img{
    margin-top: 10px;
    display: block;
    }
}
/* PARA 1024PX EN ADELANTE */
@media screen and (min-width:1024px){
.page-container{
    display: grid;
    grid-template-columns: 12% 60% 28%;
    grid-template-areas: "noti main perfiles";
    margin-right: auto;
    margin-left: auto;
}
.position-sticky{
    grid-area: noti;
}
.page-container-2{
    grid-area: main;   
    margin-right: 20px;
}
.layout1024{
    max-width: 806px;
}
/* Todos los perfiles  */
.one-perfil{
    max-width: 345px;
}
.rectangulo-2{
    max-width: 345px;
}
 /* DESACTIVO  */
.page-container-3{
    display: none;
}
/* ACTIVO */
.active1024px{
    grid-area: perfiles;
    display: block;
    margin-top: -20px;
}
.footer-0{
    padding: 64px 144px;
}
.footer-2{
    margin-top: 15px;
}
.perfil-1-1{
    font-size: 20px;

}
.perfil-1-2{
    font-size: 16px;
    
}
.perfil-1-2-text{
    font-size: 16px;
    word-spacing: 5px;
}

}
/* PARA 1390PX */
@media screen and (min-width:1398px){
    .page-container{
    display: grid;
    grid-template-columns: repeat(1,1fr) 152px 806px 345px repeat(1,1fr);
    grid-template-areas: ". noti main perfiles .";
    margin-right: auto;
    margin-left: auto;
    
    }
    .page-container-2{
    grid-area: main;
    margin-right: 20px;
    }
    .active1024px{
    grid-area: perfiles;
    display: block;
    margin-top: -20px;
    }
    .page-container-1{
    grid-area: noti;
    }
}
@media screen and (min-width:1260px){
    .page-container{
        margin-top: 0;
    }

}
@media screen and (min-width:640px){
    .perfil-1-1{
        font-size: 1.25rem;
    }
    .text-perfil{
        font-size: 1.25rem;
        font-weight: 700;
    }
}


